.cover {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.parents {
    display: flex;
    text-align: center;
}

.company-of-our-parents {
    text-transform: uppercase;
    text-align: center;
}

.we-invite-you {
    text-align: center;
}

.couple-name {
    text-align: center;
    font-size: 4rem;
    line-height: 80%;
}

.event-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}